/*  charset ==================================================== */
@charset "utf-8";

/* =========================================================
  format
========================================================== */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');

:root{
	--gothic: "新ゴ R","Shin Go Regular","メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace, sans-serif;
	--gothic-black: 'Noto Sans JP', sans-serif;
	--bgColor01: #e3e5e0;
	--pattern01: url(../images/bg_triangle.png);
}

html{font-size:10px;}
body{
  font-feature-settings : "palt";
}

.inner{
	margin: 0 auto;
}
@media screen and (min-width:961px) {
  .inner {
	max-width: 960px;
  }
}
@media screen and (max-width:960px) {
}
.floatL {
  float:left;
}
.floatR {
  float:right;
}
.alignL {text-align:left!important; line-height:1.1em;}
.alignC {text-align:center!important; line-height:1.1em;}
.alignR {text-align:right!important; line-height:1.1em;}

.mg_c {
  margin-left:auto;
  margin-right:auto;
}
.active {
  opacity:0.6;
}
.elem {
  position:relative;
}
.txt{
	font-weight: 700;
}
.colorRed{
	color: #d11d22;
}

.impact{
	background: unset;
	font-family: var(--gothic-black);
}

@media screen and (min-width:769px) {
	.sp {
		display:none;
	  }
}
@media screen and (max-width:768px) {
	.floatL {
		width:100%;
	}
	.floatR {
		width:100%;
	}
	.pc {
		display:none;
	}
}
@media screen and (max-width:468px) {
  body{
    font-size:3.2vw;
  }
}
/* =========================================================
	clearfix
========================================================== */
.clearFix {
  overflow: hidden;
}

* html .clearFix {
  zoom: 1;
}

/* =========================================================
	common
========================================================== */
.bgPattern01{
	background: #9D1D22 var(--pattern01) repeat top left / auto;
}
.bgColor01{
	background-color: var(--bgColor01);
}
.white {
	color:#FFF;
}

.photo {
	position:relative;
}
.photo p.caption {
	position:absolute;
	right:1%;
	bottom:1%;
	color:rgba(255,255,255,0.8);
	opacity:0.9;
}
address {
  font-size: 1.2rem;
  font-style: normal;
  text-align: center;
}
@media screen and (max-width:1280px) {
}
@media screen and (max-width:768px) {
}


/* =========================================================
	caption
========================================================== */
#caption, .captionL, .captionR, .captionC {
	font-size:1.2rem;
	padding-top:2px;
	line-height:1.6;
}
#caption {
	width:80%;
	margin:0 auto;
	padding-top:40px;
	padding-bottom:12px;
}
.captionL {
	text-align:left;
}
.captionR {
	text-align:right;
}
.captionC {
	text-align:center;
}
@media screen and (max-width:1280px) {
	#caption {
		width:96%;
		margin:0 auto;
		padding-top:40px;
		padding-bottom:12px;
	}
}
@media screen and (max-width:768px) {
	#caption, .captionL, .captionR, .captionC {
		font-size:1.0rem;	
	}
	#caption {
		width:94%;
		padding-top:20px;
	}
}
